<h2>{{ci.description}}</h2>
<img width="100" alt="Caps4Ever" src={{ci.badge.image}}>


<ul>Les règles sont simples
  <li>Partage de carte : 1 point</li>
  <li>Cartes gagnées lors des jours de collections : 1 point</li>
  <li> Victoire au jour de guerre : 500 points</li>
  <li> Non participation au jour de guerre alors qu'on est engagé : -1500 points</li>
  <li>Non participation à un combat du jour de collection : -250 points / match non joué</li>
  <li>Non participation à une guerre : -100 points</li>
</ul>

<ul>  L'objectif est d'avoir le meilleur score sur une saison
  <li>3 top 3 => Ajoint</li>
  <li>1 top 10 => Ainé</li>
  <li>1 score négatif => rétrogradé voir exclu</li>
</ul>

<ul class="donations">Classement par dons :
  <li *ngFor="let member of ci.members">
    <span class="badge">{{member.name}}</span> {{member.donations}}
  </li>
</ul>



<ul class="donations">Classement par saisons :
  <li *ngFor="let war_ranking of cwl.war_ranking">
    <span class="badge">Saison : {{war_ranking.season}}</span>
    <ul>
      <li *ngFor="let ranking of war_ranking.ranking">
        <span class="badge">{{ranking.name}}</span> {{ranking.score}}
      </li>
    </ul>
  </li>
</ul>



<!--
<h4>Classements des saisons :</h4>

<h2>{{ donation.member }} Details</h2>
<div><span>count: </span>{{donation.count}}</div>

  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let donation of donations">
      <span class="badge">{{donation.member}}</span> {{donation.count}}
    </li>
  </ul>
-->
